
.timer-control-container { 
    color: var(--text-normal);
    background-color: var(--background-primary-alt);
}

.timer-tracker-compatible.in-error + .timer-control-container {
    display: none;
}

.timer-control { 
    display: inline-block;
    width: 100%;
}

.timer-control button {
    float: right;
}
