.jira-issues-grid {
    display: flex;
    flex-wrap: wrap;
}

.jira-issue-grid-item {
    flex-grow: 1;
    padding: 1em;
    max-width: 300px;
    min-width: 300px;
}

.jira-issue {
    color: var(--text-normal);
    background-color: var(--background-primary-alt);
    border-radius: 5px;
    padding: 0.4em;
    height: 100%;
}
.jira-issue.in-error {
    color: var(--text-error);
    text-align: center;
    padding: 1em;
}

.jira-issue-details span {
    font-size: 0.6em;
}

.jira-issue-details span:not(:last-child) {
    margin-right: 5px;
}

.jira-issue-time-bar-container {
    height: 1em;
    background-color: var(--text-normal);
    overflow: hidden;
    margin-top: 0.2em;
}

.jira-issue-time-bar {
    height: 100%;
    background-color: var(--text-accent-hover);
}

.jira-issue-timer-control { 
    display: inline-block;
    width: 100%;
}

.jira-issue-timer-control button {
    float: right;
}
